<h1>Profile</h1>


<%= label_tag 'First Name:' %>
<%= current_user.first_name %>
<br/>
<%= label_tag 'Last Name:' %>
<%= current_user.last_name %>
<br/>
<%= label_tag 'Email Name:' %>
<%= current_user.email %>
<br/>

